page-login {
    a {
        display: block;
        bottom: 10px;
        position: absolute;
    }
    .scroll-container { 
        height: 170px;
        width: 100%;
    }
    .user-card {
        display: inline-block;
        width: 100px; height: 150px;
        box-shadow: none;
        margin: 0 10px 0 0;
        text-align: center;
    }

    .user-name {
        text-align: center;
        font-size: 2rem;
        margin-top: 0;
    }



    .btn-add-user {
        top: 5rem;
        width: 55%;
        margin: auto;
        left: 0;
        right: 0;
        box-shadow: none;
    }

    * {
        color: #fff;
      }

}
