<ion-header no-border>

    <ion-navbar>
        <h1 class="header-title-white title-without-back">Kolonial Kids</h1>
    </ion-navbar>

</ion-header>

<ion-content padding class="background-gradient">

    <div class="user-card" *ngFor="let user of users" (click)="login(user)">
        <div class="round-img">
            <img *ngIf="user?.img" src="{{user.img}}" class="profile-img">
            <img *ngIf="!user?.img" src="assets/imgs/profileimage.png" class="profile-img">
        </div>
        <p class="user-name">{{user.name}}</p>
    </div>

    <button ion-button full class="btn btn-aubergine btn-add-user" (click)="addUser()">Legg til ny bruker</button>

    <a (click)="clearUsers()">Fjern brukere</a>

</ion-content>