page-login {
    a {
        display: block;
        bottom: 10px;
        position: absolute;
    }
    .scroll-container { 
        height: 170px;
        width: 100%;
    }
    .card {
        display: inline-block;
        width: 100px; height: 150px;
        box-shadow: none;
        margin: 0 10px 10px 0;
        text-align: center;
    }

    .round-img {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-img {
        display: inline;
        margin: 0 auto;
        height: 140%;
        width: auto !important;
    }

    .btn-add-user {
        top: 5rem;
        width: 55%;
        margin: auto;
        left: 0;
        right: 0;

    }

    * {
        color: #fff;
      }
}
