page-item-detail {
    .item-picture-detail {
        width: 50%;
        margin: auto;
        right: 0;
        left: 0;
        display: block;
    }

    .item-detail-title-name {
        font-size: 2rem;
    }

    .container-item-detail {
        background-color: #fff;
        padding: 1rem;
    }

    .container-margin-top {
        margin-top: 1rem;
    }

   

   
}
