page-item-detail {
    .item-picture-detail {
        width: 50%;
        margin: auto;
        right: 0;
        left: 0;
        display: block;
    }

    .item-detail-title-name {
        font-size: 2rem;
    }
}
