page-wishlist {
    
      // container with all the categorys inside a main-category
      .wishlist-container {
        background-color: color($colors, lys-varmgra);;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .subcategory {
        padding: 1rem 0 0 4rem;
        margin: 0 !important;
        background-color: #fff;
    }

    .scroll-content{
        padding:0px !important;
        }
        
    .input-wrapper{
        padding:0px !important;
    }

    .show-more-button {
        text-align: right;
    }
}
