page-wishlist {
    
      // container with all the categorys inside a main-category
      .wishlist-container {
        background-color: color($colors, lys-varmgra);;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .subcategory {
        padding: 1rem 0 0 4rem;
        margin: 0 !important;
        background-color: #fff;
    }

    .scroll-content{
        padding:0px !important;
        }
        
    .input-wrapper{
        padding:0px !important;
    }

    .show-more-button {
        text-align: right;
    }

    .wish-text {
        width: 90%;
        margin: auto;
        right: 0;
        left: 0;
        padding: 1rem;
    }
    
    .status-img {
        height: 30px;
        width: 30px;
        margin-top: 3rem;
        margin-left: 11rem;
        position: absolute;
        z-index: 100;
    }

    .wish-info-text{
        font-size: 1.5rem;
        width: 95%;
        // background-color: #fff;
        margin: auto;
        right: 0;
        left: 0;
        margin-top: 2rem;
       // border: 1px solid color($colors, varmgra);;
       // border-radius: 8px;
        
    }

    .text-wish-approved, .text-wish-waiting, .text-wish-denied, .round-wish-approved, .round-wish-waiting, .round-wish-denied {
        padding: 0;
        margin: 0;
    }

    .round-wish-approved {
        color: color($primary-profile, gronn);
        font-size: 2rem;
        text-align: center;
        margin-top: 0.2rem;
    }

    .round-wish-denied {
        color: color($colors, bringebar);
        font-size: 2rem;
        text-align: center;
        margin-top: 0.2rem;

    }

    .round-wish-waiting {
        color: color($primary-profile, eggeplomme);
        font-size: 2rem;
        text-align: center;
        margin-top: 0.2rem;

    }

    .wish-info-text-first {
        margin-bottom: 0rem;
    }

    .card-wishlist {
        height: 195px;
    }

    .item-text {
        position: absolute;
        bottom: 0;
        padding: 1rem;
    }

}
