page-category-overview {
   

    // container with all the categorys inside a main-category
    .subcategory-container {
        background-color: color($colors, lys-varmgra);;
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
    }

    .subcategory {
        //padding: 1rem 0 0 4rem;
        //margin: 0 !important;
        //background-color: #fff;
        margin: 0.2rem 0 0.2rem 0;
        background-color: #fff;
        height: 50px;
    }

    .category-title {
        margin-left: 20px;
    }

    .scroll-content{
        padding:0px !important;
        }
        
    .input-wrapper{
        padding:0px !important;
    }

     .next-page-button {
         text-align: right;
     }

     .item-text-overview {
         position: absolute;
         bottom: 2rem;
         padding: 1rem;
     }

     // change color on header
     
     .breakfastandlunch-container{
        background-color: color($headercolors, breakfastandlunch)
    }

    .dinner-container{
        background-color: color($headercolors, dinner)
    }

    .fruitandvegetables-container{
        border: 3px solid color($headercolors, fruitandvegetables)
    }

    .snacksanddessert-container{
        border: 3px solid color($headercolors, snacksanddessert)
    }

    .householdandleisure-container{
        border: 3px solid color($headercolors,  householdandleisure)
    }

    .allcategories-container{
        border: 3px solid color($headercolors, allcategories)
    }
}
