<ion-header class="header" no-border>
  <ion-navbar>
      <a (click)="logout()"><p class="logout-text"> &#9668; Logg ut</p></a>
  </ion-navbar>
</ion-header>

<ion-content class="background-gradient" padding>

  <div class="intro-container">
  <ion-row no-padding>
    <ion-col col>
      <img src="assets/imgs/gutt.png" class="header-img" alt="Gutt som vinker" />
    </ion-col>
    <ion-col col>
      <h1 class="intro-text">Hei {{user.name}}!
        <br>Er du klar for å handle?</h1>
    </ion-col>
  </ion-row>
</div>

  <ion-searchbar [(ngModel)]="searchQuery" debounce="750" no-lines class="search-bar" (ionInput)="search()" placeholder="Søk etter vare her"></ion-searchbar>


  <ion-row no-padding *ngIf="searchQuery.length > 0">
      <ion-col class="item" col-6 col-sm *ngFor='let item of items' no-shadow no-border no-padding >
          <div class="card"[ngStyle]="getStyle(item)">
            <ion-icon name="checkmark" *ngIf="item.childToken  == user.token"></ion-icon>
            <img class="displayed item-picture" (click)="pushToDetailPage(item)" style="max-height:100px; width: auto;" class="displayed"  [src]="item.image" />
            <div class="item-text-overview"> 
            <p class="item-name">{{item.name}}</p>
            <p class="item-price">Kr {{item.price}}</p>
            </div>
            <button *ngIf="!item['wish']" class="btn-orange btn show-item-btn" ion-button (click)="addItemToWishlist(item)">Legg til i ønsker</button>
          </div>
      </ion-col>
    </ion-row> 

  <ion-row *ngIf="searchQuery.length === 0">

    <ion-col class="card-home-page" col-6 no-margin no-padding>
      <button no-border class="category-icon-btn" ion-button (click)="getCategory('breakfastandlunch')">
      <div class="category-container breakfastandlunch-container">
          <img src="assets/imgs/frokostoglunsj.png" class="category-icon" alt="Frokost og lunsj ikon" />
          <p class="category-text-btn">Frokost<br>og lunsj</p>
      </div>
    </button>
    </ion-col>

    <ion-col class="card-home-page" col-6 no-margin no-padding>
      <button class="category-icon-btn" ion-button (click)="getCategory('dinner')">
        <div class="category-container dinner-container">
          <img src="assets/imgs/middagogtilbehør.png" class="category-icon" alt="Lunsj ikon" />
        <p class="category-text-btn">Middag<br>og tilbehør </p>
        </div>
      </button>
    </ion-col>

    <ion-col class="card-home-page" col-6 no-margin no-padding>
      <button class="category-icon-btn" ion-button (click)="getCategory('fruitandvegetables')">
        <div class="category-container fruitandvegetables-container">
          <img src="assets/imgs/fruktoggrønt.png" class="category-icon" alt="Frukt og grønnsaker ikon" />
          <p class="category-text-btn">Frukt
          <br>og grønt </p>
        </div>
      </button>
    </ion-col>

    <ion-col class="card-home-page" col-6 *ngIf="!user.candyOnWeekendsOnly" no-margin no-padding>
      <button class="category-icon-btn" ion-button (click)="getCategory('snack')">
        <div class="category-container snacksanddessert-container">
          <img src="assets/imgs/snacksogdesserter.png" class="category-icon" alt="Snacks og desserter ikon" />
        <p class="category-text-btn">Snacks
          <br>og dessert </p>
        </div>
      </button>
    </ion-col>

    <ion-col class="card-home-page" col-6 no-margin no-padding>
      <button class="category-icon-btn" ion-button (click)="getCategory('householdandleisure')">
        <div class="category-container householdandleisure-container">
          <img src="assets/imgs/husholdningogfritid.png" class="category-icon" alt="Husholdning og fritid ikon" />
        <p class="category-text-btn">Husholdning
          <br>og fritid </p>
        </div>
      </button>
    </ion-col>

    <ion-col class="card-home-page" col-6 no-margin no-padding>
      <button class="category-icon-btn" ion-button (click)="getCategory('')">
        <div class="category-container allcategories-container">
          <img src="assets/imgs/allevarer.png" class="category-icon" alt="Alle kategorier ikon">
          <p class="category-text-btn">Alle varer </p>
        </div>
      </button>
    </ion-col>

  </ion-row>

</ion-content>