page-login-pin {
    .hide{
        display:none;
    }

    .pin {
        color: #fff;
        font-size: 50px;
<<<<<<< Updated upstream
        padding: -10rem;
=======
>>>>>>> Stashed changes
    }


    * {
        color: #fff;
      }

<<<<<<< Updated upstream
      .pin-container {
          margin-top: -3rem;
          text-align: center;

      }
=======
    .log-in-text {
        display: block;
        font-size: 1.8rem;
        text-align: center;
    }

    .pin-container {
        margin-top: -3rem;
    }

>>>>>>> Stashed changes
}
