page-login-pin {
    .hide{
        display:none;
    }

    .pin {
        color: #000;
        font-size: 50px;
    }


    * {
        color: #000;
      }

    .log-in-text {
        display: block;
        font-size: 1.8rem;
        text-align: center;
        color: #000;
    }

    .pin-container {
        margin-top: -3rem;
    }

}
